

		<% if !@handle.empty? %>
	 
	    	<h3>Results for @<%= @handle %>!</h3>
	    	
	    	<div class="row demo-tiles">
		        <div class="col-xs-12">
		          <div class="tile">
		            <img src="img/icons/svg/Trolley.svg" alt="Trolley" class="tile-image big-illustration">
		            <h3 class="tile-title">@<%= @handle %> has a total of <%= @total %> tweets</h3>
		            <p> <%= @averages_text %>
		           
		           
		          </div>
		        </div>
		    </div>
		     
		     <h4>Upcoming milestone tweets</h4>

		      <div class="row demo-tiles">
		        

		        <div class="col-xs-4">
		          <div class="tile">
		            <img src="img/icons/svg/heart.svg" alt="Heart" class="tile-image">
		            <h3 class="tile-title"><%= @next_1k[:result] %></h3>
		            <p><%= @hours_away_1k %></p>
		            <p><%= @days_away_1k %></p>
		            <p><%= @weeks_away_1k %></p>
		            <a class="btn btn-primary btn-large btn-block" href="#login-prompt"
     data-toggle="modal">Give me a heads up</a>
		          </div>
		        </div>

		        <div class="col-xs-4">
		          <div class="tile">
		            <img src="img/icons/svg/coins.svg" alt="Coins" class="tile-image">
		            <h3 class="tile-title"><%= @next_5k[:result] %></h3>
		            <p><%= @hours_away_5k %></p>
		            <p><%= @days_away_5k %></p>
		            <p><%= @weeks_away_5k %></p>
		            <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Give me a heads up</a>
		          </div>
		        </div>

		        <div class="col-xs-4">
		          <div class="tile">
		            
		            <img src="img/icons/svg/thoughts.svg" alt="Thoughts" class="tile-image">
		            <h3 class="tile-title"><%= @next_10k[:result] %></h3>
		            <p><%= @hours_away_10k %></p>
		            <p><%= @days_away_10k %></p>
		            <p><%= @weeks_away_10k %></p>
		            <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Give me a heads up</a>
		          </div>

		        </div>
		      </div>
	    	
		<% else %>
	    	<p>You must enter a Twitter handle.</p>
		<% end %>

<div class="modal" id="login-prompt">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Connect to Twitter</h3>
  </div>
  <div class="modal-body">
    <p>If you connect to your Twitter account, then we will be able to add notifications for your own milestones.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="/connect" class="btn btn-primary">Connect</a>
  </div>
</div>
