

		<% if !@handle.empty? %>
	 
	    	<h3>Results for @<%= @handle %>!</h3>
	    	
	    	<div class="row demo-tiles">
		        <div class="col-xs-12">
		          <div class="tile">
		            <img src="img/icons/svg/compas.svg" alt="Compas" class="tile-image big-illustration">
		            <h3 class="tile-title">@<%= @handle %> has a total of <%= @total %> tweets</h3>
		            <p> <%= @averages_text %>
		           
		           
		          </div>
		        </div>
		    </div>
		     
		     <h4>Upcoming milestones tweets</h4>

		      <div class="row demo-tiles">
		        

		        <div class="col-xs-4">
		          <div class="tile">
		            <img src="img/icons/svg/loop.svg" alt="Infinity-Loop" class="tile-image">
		            <h3 class="tile-title"><%= @next_1k[:result] %></h3>
		            <p><%= @hours_away_1k %></p>
		            <p><%= @days_away_1k %></p>
		            <p><%= @weeks_away_1k %></p>
		            <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Give me a heads up</a>
		          </div>
		        </div>

		        <div class="col-xs-4">
		          <div class="tile">
		            <img src="img/icons/svg/pencils.svg" alt="Pensils" class="tile-image">
		            <h3 class="tile-title"><%= @next_5k[:result] %></h3>
		            <p><%= @hours_away_5k %></p>
		            <p><%= @days_away_5k %></p>
		            <p><%= @weeks_away_5k %></p>
		            <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Give me a heads up</a>
		          </div>
		        </div>

		        <div class="col-xs-4">
		          <div class="tile">
		            
		            <img src="img/icons/svg/chat.svg" alt="Chat" class="tile-image">
		            <h3 class="tile-title"><%= @next_10k[:result] %></h3>
		            <p><%= @hours_away_10k %></p>
		            <p><%= @days_away_10k %></p>
		            <p><%= @weeks_away_10k %></p>
		            <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Give me a heads up</a>
		          </div>

		        </div>
		      </div>
	    	
		<% else %>
	    	<p>You must enter a Twitter handle.</p>
		<% end %>


